#---------------------------------------------------------------------------
# SharkBoad SystemModule
#
# UCF file for Xilinx Spartan 3-100E Device
#---------------------------------------------------------------------------
#
# SharkBoad
# Copyright (C) 2012 Bogotá, Colombia
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, version 3 of the License.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
#
#  _________.__                  __   __________                       .___
# /   _____/|  |__ _____ _______|  | _\______   \ _________ _______  __| _/
# \_____  \ |  |  \\__  \\_  __ \  |/ /|    |  _//  _ \__  \\_  __ \/ __ | 
# /        \|   Y  \/ __ \|  | \/    < |    |   (  <_> ) __ \|  | \/ /_/ | 
#/_______  /|___|  (____  /__|  |__|_ \|______  /\____(____  /__|  \____ | 
#        \/      \/     \/           \/       \/           \/           \/ 
#
#
# ==== Clock inputs (CLK) ====
NET "CLK_50M"       LOC = "P38"  | IOSTANDARD = LVCMOS33 | PERIOD = 20 HIGH 50%;
# ==== IO ====
NET "LED"        LOC = "P61"  | IOSTANDARD = LVTTL;
NET "LED2"       LOC = "P62"  | IOSTANDARD = LVTTL;
NET "rst_n" LOC = "P13" | IOSTANDARD = LVTTL;
NET "sal" LOC = "P25" | IOSTANDARD = LVTTL;
NET "w_vsync" LOC = "P11" | IOSTANDARD = LVTTL;
NET "w_hsync" LOC = "P15" | IOSTANDARD = LVTTL;
NET "r" LOC = "P16" | IOSTANDARD = LVTTL;
NET "g" LOC = "P17" | IOSTANDARD = LVTTL;
NET "b" LOC = "P18" | IOSTANDARD = LVTTL;
NET "e1" LOC = "P23" | IOSTANDARD = LVTTL;
NET "c1" LOC = "P26" | IOSTANDARD = LVTTL;
NET "g1" LOC = "P32" | IOSTANDARD = LVTTL;
NET "f1" LOC = "P33" | IOSTANDARD = LVTTL;
NET "a1" LOC = "P34" | IOSTANDARD = LVTTL;
NET "b1" LOC = "P35" | IOSTANDARD = LVTTL;
NET "e2" LOC = "P57" | IOSTANDARD = LVTTL;
NET "c2" LOC = "P60" | IOSTANDARD = LVTTL;
NET "d2" LOC = "P58" | IOSTANDARD = LVTTL;
NET "g2" LOC = "P36" | IOSTANDARD = LVTTL;
NET "f2" LOC = "P40" | IOSTANDARD = LVTTL;
NET "a2" LOC = "P44" | IOSTANDARD = LVTTL;
NET "b2" LOC = "P53" | IOSTANDARD = LVTTL;