//! **************************************************************************
// Written by: Map P.20131013 on Tue Oct 20 21:44:33 2015
//! **************************************************************************

SCHEMATIC START;
COMP "b" LOCATE = SITE "P18" LEVEL 1;
COMP "g" LOCATE = SITE "P17" LEVEL 1;
COMP "r" LOCATE = SITE "P16" LEVEL 1;
COMP "a1" LOCATE = SITE "P34" LEVEL 1;
COMP "a2" LOCATE = SITE "P44" LEVEL 1;
COMP "b1" LOCATE = SITE "P35" LEVEL 1;
COMP "b2" LOCATE = SITE "P53" LEVEL 1;
COMP "c1" LOCATE = SITE "P26" LEVEL 1;
COMP "c2" LOCATE = SITE "P60" LEVEL 1;
COMP "d2" LOCATE = SITE "P58" LEVEL 1;
COMP "e1" LOCATE = SITE "P23" LEVEL 1;
COMP "e2" LOCATE = SITE "P57" LEVEL 1;
COMP "f1" LOCATE = SITE "P33" LEVEL 1;
COMP "f2" LOCATE = SITE "P40" LEVEL 1;
COMP "g1" LOCATE = SITE "P32" LEVEL 1;
COMP "g2" LOCATE = SITE "P36" LEVEL 1;
COMP "LED" LOCATE = SITE "P61" LEVEL 1;
COMP "sal" LOCATE = SITE "P25" LEVEL 1;
COMP "LED2" LOCATE = SITE "P62" LEVEL 1;
COMP "rst_n" LOCATE = SITE "P13" LEVEL 1;
COMP "w_hsync" LOCATE = SITE "P15" LEVEL 1;
COMP "w_vsync" LOCATE = SITE "P11" LEVEL 1;
COMP "CLK_50M" LOCATE = SITE "P38" LEVEL 1;
NET "CLK_50M_BUFGP/IBUFG" BEL "CLK_50M_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "CLK_50M_BUFGP/IBUFG" PERIOD = 20 ns HIGH 50%;
SCHEMATIC END;

