# ==== Clock inputs (CLK) ====
NET "clk" LOC = "P38" | IOSTANDARD = LVCMOS33 ; # GCLK10;
NET "clk" PERIOD = 20 HIGH 50%;
# ==== IO ====
NET "rst" LOC = "P13" | IOSTANDARD = LVTTL;
NET "LED" LOC = "P62" | IOSTANDARD = LVTTL;

NET "salidas_final<0>" LOC = "P84" | IOSTANDARD = LVTTL;
NET "salidas_final<1>" LOC = "P85" | IOSTANDARD = LVTTL;
NET "salidas_final<2>" LOC = "P86" | IOSTANDARD = LVTTL;
NET "salidas_final<3>" LOC = "P2" | IOSTANDARD = LVTTL;
NET "salidas_final<4>" LOC = "P3" | IOSTANDARD = LVTTL;
NET "salidas_final<5>" LOC = "P4" | IOSTANDARD = LVTTL;
NET "salidas_final<6>" LOC = "P5" | IOSTANDARD = LVTTL;
NET "salidas_final<7>" LOC = "P9" | IOSTANDARD = LVTTL;
NET "salidas_final<8>" LOC = "P10" | IOSTANDARD = LVTTL;
NET "salidas_final<9>" LOC = "P11" | IOSTANDARD = LVTTL;
NET "salidas_final<10>" LOC = "P12" | IOSTANDARD = LVTTL;
NET "salidas_final<11>" LOC = "P15" | IOSTANDARD = LVTTL;
NET "salidas_final<12>" LOC = "P16" | IOSTANDARD = LVTTL;
NET "salidas_final<13>" LOC = "P17" | IOSTANDARD = LVTTL;
NET "salidas_final<14>" LOC = "P18" | IOSTANDARD = LVTTL;
NET "salidas_final<15>" LOC = "P22" | IOSTANDARD = LVTTL;
